Repository netease-kit/nim-uikit-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, git add ., prettier --write, npm run noIssue

update xkit
  .gitignore
  .storybook/main.js
  package.json
  packages/chat-kit-react-ui/package.json
  packages/chat-kit-react-ui/src/index.stories.prod.tsx
  packages/chat-kit-react-ui/src/index.stories.tsx
  packages/chat-kit-react-ui/src/main.tsx
  packages/common-react-ui/package.json
  packages/common-react-ui/src/components/ComplexAvatar/index.stories.tsx
  packages/common-react-ui/src/components/FriendSelect/index.stories.tsx
  packages/common-react-ui/src/components/MyUserCard/index.stories.tsx
  packages/common-react-ui/src/components/SearchInput/index.stories.tsx
  packages/common-react-ui/src/components/UserCard/index.stories.tsx
  packages/common-react-ui/src/components/Welcome/index.stories.tsx
  packages/common-react-ui/src/contextManager/Provider.tsx
  packages/contact-kit-react-ui/package.json
  packages/contact-kit-react-ui/src/black-list/index.stories.tsx
  packages/contact-kit-react-ui/src/contact-list/index.stories.tsx
  packages/contact-kit-react-ui/src/friend-list/index.stories.tsx
  packages/contact-kit-react-ui/src/group-list/index.stories.tsx
  packages/contact-kit-react-ui/src/index.stories.prod.tsx
  packages/contact-kit-react-ui/src/index.stories.tsx
  packages/conversation-kit-react-ui/package.json
  packages/conversation-kit-react-ui/src/index.stories.prod.tsx
  packages/conversation-kit-react-ui/src/index.stories.tsx
  packages/im-kit-react-ui/package.json
  packages/login-react-ui/package.json
  packages/search-kit-react-ui/package.json
  packages/search-kit-react-ui/src/add/index.stories.tsx
  packages/search-kit-react-ui/src/index.stories.prod.tsx
  packages/search-kit-react-ui/src/index.stories.tsx
  packages/search-kit-react-ui/src/search/index.stories.tsx
Due: prettier --write ., eslint --fix, git add .

update
  .storybook/_config.js
  README.md
Due: prettier --write ., eslint --fix, git add ., prettier --write, npm run noIssue

update xkit
  .storybook/main.js
  packages/login-react-ui/src/index.stories.tsx
Due: prettier --write ., eslint --fix, git add .

update xkit
  docs/im-ui-kit/语言设置.stories.mdx
  packages/chat-kit-react-ui/CHANGELOG.md
  packages/chat-kit-react-ui/_CHANGELOG.md
  packages/chat-kit-react-ui/package.json
  packages/chat-kit-react-ui/src/components/ChatPerson/index.tsx
  packages/chat-kit-react-ui/src/components/ChatSetting/index.tsx
  packages/common-react-ui/CHANGELOG.md
  packages/common-react-ui/_CHANGELOG.md
  packages/common-react-ui/package.json
  packages/common-react-ui/src/components/CommonParseSession/index.tsx
  packages/common-react-ui/src/locales/zh.ts
  packages/contact-kit-react-ui/CHANGELOG.md
  packages/contact-kit-react-ui/_CHANGELOG.md
  packages/contact-kit-react-ui/package.json
  packages/conversation-kit-react-ui/CHANGELOG.md
  packages/conversation-kit-react-ui/_CHANGELOG.md
  packages/conversation-kit-react-ui/package-lock.json
  packages/conversation-kit-react-ui/package.json
  packages/im-kit-react-ui/CHANGELOG.md
  packages/im-kit-react-ui/_CHANGELOG.md
  packages/im-kit-react-ui/package.json
  packages/login-react-ui/CHANGELOG.md
  packages/login-react-ui/_CHANGELOG.md
  packages/login-react-ui/package.json
  packages/search-kit-react-ui/CHANGELOG.md
  packages/search-kit-react-ui/_CHANGELOG.md
  packages/search-kit-react-ui/package.json
Due: prettier --write ., eslint --fix, git add ., prettier --write, npm run noIssue

update xkit
  LICENSE
Due: none

update xkit
  docs/im-ui-kit/IM兼容.stories.mdx
  packages/chat-kit-react-ui/CHANGELOG.md
  packages/chat-kit-react-ui/package.json
  packages/common-react-ui/CHANGELOG.md
  packages/common-react-ui/package.json
  packages/common-react-ui/src/contextManager/Provider.tsx
  packages/contact-kit-react-ui/CHANGELOG.md
  packages/contact-kit-react-ui/package.json
  packages/conversation-kit-react-ui/CHANGELOG.md
  packages/conversation-kit-react-ui/package-lock.json
  packages/conversation-kit-react-ui/package.json
  packages/im-kit-react-ui/CHANGELOG.md
  packages/im-kit-react-ui/package.json
  packages/search-kit-react-ui/CHANGELOG.md
  packages/search-kit-react-ui/package.json
Due: prettier --write ., eslint --fix, git add ., prettier --write, npm run noIssue

update xkit
  .eslintignore
  packages/common-react-ui/CHANGELOG.md
Due: git add ., prettier --write, npm run noIssue

update xkit
  docs/im-ui-kit/全局上下文.stories.mdx
  docs/im-ui-kit/初始化.stories.mdx
  docs/im-ui-kit/导入组件.stories.mdx
  docs/im-ui-kit/快速上手.stories.mdx
  docs/im-ui-kit/语言设置.stories.mdx
  packages/chat-kit-react-ui/CHANGELOG.md
  packages/chat-kit-react-ui/package.json
  packages/chat-kit-react-ui/src/Container.tsx
  packages/chat-kit-react-ui/src/components/ChatGroup/GroupItem.tsx
  packages/chat-kit-react-ui/src/components/ChatGroup/GroupList.tsx
  packages/chat-kit-react-ui/src/components/ChatGroup/index.tsx
  packages/chat-kit-react-ui/src/components/ChatGroup/style/groupItem.less
  packages/chat-kit-react-ui/src/components/ChatMessageInput/index.tsx
  packages/chat-kit-react-ui/src/components/ChatMessageInput/style/index.less
  packages/chat-kit-react-ui/src/components/ChatMessageItem/index.tsx
  packages/chat-kit-react-ui/src/components/ChatMessageItem/style/index.less
  packages/chat-kit-react-ui/src/hooks/useGetHistoryMsgs.ts
  packages/chat-kit-react-ui/src/hooks/useSendMessageCallback.ts
  packages/chat-kit-react-ui/src/index.stories.prod.mdx
  packages/chat-kit-react-ui/src/main.tsx
  packages/chat-kit-react-ui/src/types.ts
  packages/common-react-ui/CHANGELOG.md
  packages/common-react-ui/package.json
  packages/common-react-ui/src/contextManager/Provider.tsx
  packages/common-react-ui/src/locales/zh.ts
  packages/contact-kit-react-ui/CHANGELOG.md
  packages/contact-kit-react-ui/package.json
  packages/contact-kit-react-ui/src/index.stories.prod.mdx
  packages/conversation-kit-react-ui/CHANGELOG.md
  packages/conversation-kit-react-ui/package-lock.json
  packages/conversation-kit-react-ui/package.json
  packages/conversation-kit-react-ui/src/Container.tsx
  packages/conversation-kit-react-ui/src/style/conversationList.less
  packages/im-kit-react-ui/CHANGELOG.md
  packages/im-kit-react-ui/package.json
  packages/search-kit-react-ui/CHANGELOG.md
  packages/search-kit-react-ui/package.json
  packages/search-kit-react-ui/src/add/components/AddModal/index.tsx
  packages/search-kit-react-ui/src/add/style/addModal.less
Due: prettier --write ., eslint --fix, git add ., prettier --write, npm run noIssue

Delete 内部状态.stories.mdx
  docs/im-ui-kit/内部状态.stories.mdx
Due: none

update xkit
  packages/chat-kit-react-ui/CHANGELOG.md
  packages/chat-kit-react-ui/package.json
  packages/chat-kit-react-ui/src/Container.tsx
  packages/chat-kit-react-ui/src/components/ChatGroup/GroupItem.tsx
  packages/chat-kit-react-ui/src/components/ChatGroup/GroupList.tsx
  packages/chat-kit-react-ui/src/components/ChatGroup/index.tsx
  packages/chat-kit-react-ui/src/components/ChatMessageInput/index.tsx
  packages/chat-kit-react-ui/src/components/ChatMessageInput/style/index.less
  packages/chat-kit-react-ui/src/components/ChatMessageItem/index.tsx
  packages/common-react-ui/CHANGELOG.md
  packages/conversation-kit-react-ui/CHANGELOG.md
  packages/im-kit-react-ui/CHANGELOG.md
  packages/im-kit-react-ui/package.json
  packages/search-kit-react-ui/CHANGELOG.md
Due: prettier --write ., eslint --fix, git add ., prettier --write, npm run noIssue

update
  README.md
  ssl/cert.crt
  ssl/cert.pem
  ssl/key.pem
Due: git add ., prettier --write, npm run noIssue

update xkit
  .gitignore
  .vscode/settings.json
  package.json
  packages/chat-kit-react-ui/CHANGELOG.md
  packages/chat-kit-react-ui/package.json
  packages/chat-kit-react-ui/src/Container.tsx
  packages/chat-kit-react-ui/src/components/ChatMessageInput/index.tsx
  packages/chat-kit-react-ui/src/components/ChatMessageList/index.tsx
  packages/chat-kit-react-ui/src/containers/p2pChatContainer.tsx
  packages/chat-kit-react-ui/src/containers/teamChatContainer.tsx
  packages/common-react-ui/CHANGELOG.md
  packages/common-react-ui/package.json
  packages/common-react-ui/src/contextManager/store/msgs.ts
  packages/common-react-ui/src/contextManager/store/ui.ts
  packages/common-react-ui/src/contextManager/store/users.ts
  packages/common-react-ui/src/utils.ts
  packages/contact-kit-react-ui/CHANGELOG.md
  packages/contact-kit-react-ui/package.json
  packages/conversation-kit-react-ui/CHANGELOG.md
  packages/conversation-kit-react-ui/package.json
  packages/im-kit-react-ui/CHANGELOG.md
  packages/im-kit-react-ui/package.json
  packages/search-kit-react-ui/CHANGELOG.md
  packages/search-kit-react-ui/package.json
  yarn.lock
Due: prettier --write ., eslint --fix, git add ., prettier --write, npm run noIssue

chore: 🤖 vue add dependencies react
  vue/package-lock.json
  vue/package.json
Due: none

docs: ✏️ update readme
  README.md
Due: git add ., prettier --write, npm run noIssue

chore: 🤖 9.3.2
  react/package-lock.json
  react/package.json
  vue/package-lock.json
  vue/package.json
Due: none

chore: 🤖 9.3.2
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/common/contextManager/Provider.tsx
  react/src/YXUIKit/im-kit-ui/src/index.ts
Due: prettier --write ., eslint --fix, git add .

IMUIKit 9.4.0 更新
  vue/package.json
  vue/src/components/IMApp/index.vue
  vue/yarn.lock
Due: none

update 9.5.1
  .gitignore
  react/package-lock.json
  react/package.json
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamMessageList/index.tsx
  react/yarn.lock
  vue/package-lock.json
  vue/package.json
  vue/yarn.lock
Due: prettier --write ., eslint --fix, git add .

fix:lower react version
  vue/package.json
Due: none

feat:9.6.0 发布
  react/src/components/IMApp/components/Setting.tsx
  react/src/components/IMApp/index.less
  react/src/components/IMApp/index.tsx
  react/src/components/IMApp/locales/demo_locale.ts
  react/src/components/IMApp/locales/zh.ts
Due: prettier --write ., eslint --fix, git add .

update uikit version
  react/package.json
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/chat/Container.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatMessageInput/ChatMentionMemberList.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatMessageInput/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/containers/teamChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/index.tsx
  react/src/YXUIKit/im-kit-ui/src/constant.ts
  react/src/YXUIKit/im-kit-ui/src/conversation/Container.tsx
  react/src/YXUIKit/im-kit-ui/src/urlToBlob.ts
  vue/package.json
Due: prettier --write ., eslint --fix, git add .

fix call-kit style
  react/src/components/IMApp/index.tsx
Due: prettier --write ., eslint --fix, git add .

升级im-store
  react/package.json
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatP2pMessageList/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/ComplexAvatar/Container.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/MyAvatar/Container.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/MyUserCard/index.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/UserCard/index.tsx
  react/src/YXUIKit/im-kit-ui/src/contact/contact-list/Container.tsx
  react/src/YXUIKit/im-kit-ui/src/index.ts
  react/src/YXUIKit/im-kit-ui/src/search/add/components/AddFriendModal/index.tsx
  react/src/components/IMApp/index.tsx
  vue/package.json
  vue/src/components/IMApp/index.vue
Due: prettier --write ., eslint --fix, git add .

update im-stoer
  react/package.json
  react/src/YXUIKit/im-kit-ui/package.json
  vue/package.json
Due: none

删除无用更新
  vue/package.json
  vue/src/components/IMApp/index.vue
Due: none

update uikit
  react/package.json
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/containers/teamChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/conversation/components/ConversationItem.tsx
  vue/package.json
Due: prettier --write ., eslint --fix, git add .

update uikit 9.8.0
  react/package.json
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatMessageInput/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatMessageInput/style/index.ts
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatMessageItem/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatP2pMessageList/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamMessageList/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/containers/teamChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/index.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/style/index.less
  react/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/style/index.ts
  react/src/YXUIKit/im-kit-ui/src/common/locales/zh.ts
  react/src/YXUIKit/im-kit-ui/src/uploadingTask.ts
  react/src/YXUIKit/im-kit-ui/src/utils.ts
  vue/package.json
Due: prettier --write ., eslint --fix, git add .

update UIKIT
  vue/package.json
  vue/src/App.vue
Due: none

update version
  react/package.json
  vue/package.json
Due: none

update xkit
  react/package.json
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/index.tsx
  react/src/components/IMApp/index.tsx
  vue/package.json
Due: prettier --write ., eslint --fix, git add .

更新依赖版本号
  react/package.json
  react/src/YXUIKit/im-kit-ui/package.json
  vue/package.json
Due: none

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  git add .: (any of: *.{js,jsx,ts,tsx}) or (any of: *.md)
  prettier --write: any of: *.md
  npm run noIssue: any of: *.md
