Repository netease-kit/nim-uikit-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, git add ., prettier --write, npm run noIssue

update im
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/chat/Container.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatAddMembers/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatCollectionList/CollectionItem.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatForwardModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatGroupTransferModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamMemberModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamSetting/GroupList.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamSetting/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamSetting/style/groupList.less
  react/src/YXUIKit/im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/containers/teamChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/CreateTeamModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/FriendSelect/index.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/SelectModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/SelectModal/style/index.less
  react/src/YXUIKit/im-kit-ui/src/contact/friend-list/components/FriendList.tsx
  react/src/YXUIKit/im-kit-ui/src/contact/group-list/Container.tsx
  react/src/YXUIKit/im-kit-ui/src/contact/group-list/components/GroupList.tsx
  react/src/YXUIKit/im-kit-ui/src/contact/group-list/style/groupItem.less
  react/src/YXUIKit/im-kit-ui/src/contact/group-list/style/groupList.less
  react/src/YXUIKit/im-kit-ui/src/search/search/Container.tsx
  react/src/YXUIKit/im-kit-ui/src/search/search/components/SearchModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/search/search/style/index.less
  react/src/components/IMApp/index.tsx
Due: prettier --write ., eslint --fix, git add .

update v9.8.6
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatForwardModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatGroupTransferModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamMemberModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamSetting/GroupList.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamSetting/style/groupList.less
  react/src/YXUIKit/im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/containers/teamChatContainer.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/FriendSelect/FriendSelectUI.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/FriendSelect/style/index.less
  react/src/YXUIKit/im-kit-ui/src/common/components/SelectModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/SelectModal/style/index.less
  react/src/YXUIKit/im-kit-ui/src/contact/friend-list/components/FriendList.tsx
  react/src/YXUIKit/im-kit-ui/src/contact/group-list/components/GroupList.tsx
  react/src/YXUIKit/im-kit-ui/src/contact/group-list/style/groupItem.less
  react/src/YXUIKit/im-kit-ui/src/contact/group-list/style/groupList.less
  react/src/YXUIKit/im-kit-ui/src/search/search/Container.tsx
  react/src/YXUIKit/im-kit-ui/src/search/search/components/SearchModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/search/search/style/index.less
Due: prettier --write ., eslint --fix, git add .

更新 vue vite.config.js 解决 react-virtualized 的问题
  vue/vite.config.ts
Due: prettier --write ., eslint --fix, git add .

update 10.3.3
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatAITranslate/index.tsx
  react/src/components/IMApp/index.tsx
Due: prettier --write ., eslint --fix, git add .

v10.5.0
  react/package.json
  react/src/YXUIKit/im-kit-ui/package.json
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatForwardModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatGroupTransferModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatMessageInput/useImgPaste.ts
  react/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamMemberModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/CommonIcon/index.tsx
  react/src/YXUIKit/im-kit-ui/src/common/components/SelectModal/index.tsx
  react/src/YXUIKit/im-kit-ui/src/common/locales/en.ts
  react/src/YXUIKit/im-kit-ui/src/search/add/components/AddFriendModal/index.stories.tsx
  react/src/YXUIKit/im-kit-ui/src/search/add/components/JoinTeamModal/index.stories.tsx
  react/src/components/IMApp/IMApp.tsx
  react/src/components/IMApp/components/MenuOptions.tsx
  react/src/components/IMApp/components/Menus.tsx
  react/src/components/IMApp/components/Setting.tsx
  react/src/components/IMApp/components/call.tsx
  react/src/components/IMApp/index.less
  react/src/components/IMApp/index.tsx
  react/src/components/IMApp/locales/demo_locale.ts
  react/src/components/IMApp/locales/zh.ts
  react/src/components/IMApp/util/index.ts
  vue/package.json
  vue/src/App.vue
  vue/src/components/IMApp/iconfont.css
  vue/src/components/IMApp/index.vue
Due: prettier --write ., eslint --fix, git add .

update version & fix startup
  react/package.json
  vue/package.json
  vue/vite.config.ts
Due: prettier --write ., eslint --fix, git add .

fix startup
  react/package.json
Due: none

v9.8.7
  react/package.json
  vue/package.json
  vue/src/components/IMApp/index.vue
Due: none

v10.6.0
  react/package.json
  react/src/pages/index.tsx
  vue3/.eslintrc.cjs
  vue3/.gitignore
  vue3/.prettierrc.json
  vue3/.vscode/extensions.json
  vue3/README.md
  vue3/env.d.ts
  vue3/index.html
  vue3/package.json
  vue3/public/favicon.ico
  vue3/src/App.vue
  vue3/src/components/IMApp/iconfont.css
  vue3/src/components/IMApp/index.vue
  vue3/src/main.ts
  vue3/tsconfig.config.json
  vue3/tsconfig.json
  vue3/vite.config.ts
Due: prettier --write ., eslint --fix, git add ., prettier --write, npm run noIssue

v10.6.0
  README.md
  react-demo/README.md
  vue2-demo/README.md
  vue3-demo/src/App.vue
Due: git add ., prettier --write, npm run noIssue

v10.6.0
  im-kit-ui/CHANGELOG.md
  im-kit-ui/README.md
Due: git add ., prettier --write, npm run noIssue

v10.6.0
  react-demo/README.md
  react-demo/package.json
Due: git add ., prettier --write, npm run noIssue

v10.7.1
  react-demo/package.json
  react-demo/src/YXUIKit/im-kit-ui/src/chat/components/ChatForwardModal/index.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/chat/containers/teamChatContainer.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/index.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/style/index.less
  react-demo/src/YXUIKit/im-kit-ui/src/common/components/ComplexAvatar/Container.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/common/components/CreateTeamModal/index.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/common/contextManager/Provider.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/contact/group-list/Container.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/conversation/Container.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/conversation/components/ConversationList.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/conversation/components/pinAIItem.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/search/add/components/AddFriendModal/index.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/search/add/components/JoinTeamModal/index.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/search/search/Container.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/urlToBlob.ts
  react-demo/src/components/IMApp/IMApp.tsx
  react-demo/src/components/IMApp/components/Setting.tsx
  react-demo/src/components/IMApp/index.tsx
  react-demo/src/components/IMApp/locales/demo_locale.ts
  vue2-demo/package.json
  vue2-demo/src/App.vue
  vue3-demo/package.json
  vue3-demo/src/App.vue
Due: prettier --write ., eslint --fix, git add .

v10.7.1
  im-kit-ui/package.json
  im-kit-ui/src/chat/components/ChatForwardModal/index.tsx
  im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  im-kit-ui/src/chat/containers/teamChatContainer.tsx
  im-kit-ui/src/common/components/CommonParseSession/index.tsx
  im-kit-ui/src/common/components/CommonParseSession/style/index.less
  im-kit-ui/src/common/components/ComplexAvatar/Container.tsx
  im-kit-ui/src/common/components/CreateTeamModal/index.tsx
  im-kit-ui/src/common/contextManager/Provider.tsx
  im-kit-ui/src/contact/group-list/Container.tsx
  im-kit-ui/src/conversation/Container.tsx
  im-kit-ui/src/conversation/components/ConversationList.tsx
  im-kit-ui/src/conversation/components/pinAIItem.tsx
  im-kit-ui/src/search/add/components/AddFriendModal/index.stories.tsx
  im-kit-ui/src/search/add/components/AddFriendModal/index.tsx
  im-kit-ui/src/search/add/components/JoinTeamModal/index.stories.tsx
  im-kit-ui/src/search/add/components/JoinTeamModal/index.tsx
  im-kit-ui/src/search/search/Container.tsx
  im-kit-ui/src/urlToBlob.ts
Due: prettier --write ., eslint --fix, git add .

v10.7.1
  im-kit-ui/src/search/add/components/AddFriendModal/index.stories.tsx
  im-kit-ui/src/search/add/components/JoinTeamModal/index.stories.tsx
Due: prettier --write ., eslint --fix, git add .

Update README.md
  README.md
Due: git add ., prettier --write, npm run noIssue

edit menu text
  react-demo/src/components/IMApp/components/call.tsx
Due: prettier --write ., eslint --fix, git add .

feat: Vue3_demo - 剔除不相关依赖 - 优化 Vue3 语法 - 优化样式，改用 scoped - 优化加载逻辑，改用组件式
  vue3-demo/README.md
  vue3-demo/package.json
  vue3-demo/src/App.vue
  vue3-demo/src/components/IMApp/index.vue
Due: git add ., prettier --write, npm run noIssue

refactor: 💡 readme & collect kit 优化
  vue3-demo/README.md
  vue3-demo/src/components/IMApp/index.vue
Due: git add ., prettier --write, npm run noIssue

v10.8.5
  im-kit-ui/package.json
  im-kit-ui/src/chat/components/ChatCollectionList/index.tsx
  im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  im-kit-ui/src/chat/containers/teamChatContainer.tsx
  im-kit-ui/src/common/hooks/useEventTracking.ts
  im-kit-ui/src/contact/friend-list/components/FriendItem.tsx
  im-kit-ui/src/conversation/components/P2PItem.tsx
  im-kit-ui/src/example/index.stories.tsx
  react-demo/package.json
  react-demo/src/YXUIKit/im-kit-ui/package.json
  react-demo/src/YXUIKit/im-kit-ui/src/chat/components/ChatCollectionList/index.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/chat/containers/teamChatContainer.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/common/hooks/useEventTracking.ts
  react-demo/src/YXUIKit/im-kit-ui/src/contact/friend-list/components/FriendItem.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/conversation/components/P2PItem.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/search/add/components/AddFriendModal/index.stories.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/search/add/components/JoinTeamModal/index.stories.tsx
  vue2-demo/package.json
  vue3-demo/package.json
Due: prettier --write ., eslint --fix, git add .

v10.8.6
  im-kit-ui/package.json
  im-kit-ui/src/chat/components/ChatCollectionList/style/index.less
  im-kit-ui/src/chat/components/ChatMessageItem/virtualMessageItem.tsx
  im-kit-ui/src/chat/components/ChatP2pMessageList/index.tsx
  im-kit-ui/src/chat/components/ChatTeamMessageList/index.tsx
  im-kit-ui/src/chat/components/ChatTopMsg/style/index.less
  im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  im-kit-ui/src/chat/containers/teamChatContainer.tsx
  im-kit-ui/src/common/components/CommonParseSession/index.tsx
  im-kit-ui/src/common/components/CommonParseSession/style/index.less
  im-kit-ui/src/common/components/CommonParseSession/videoModal.tsx
  react-demo/package.json
  react-demo/src/YXUIKit/im-kit-ui/package.json
  react-demo/src/YXUIKit/im-kit-ui/src/chat/components/ChatCollectionList/style/index.less
  react-demo/src/YXUIKit/im-kit-ui/src/chat/components/ChatMessageItem/virtualMessageItem.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/chat/components/ChatP2pMessageList/index.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/chat/components/ChatTeamMessageList/index.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/chat/components/ChatTopMsg/style/index.less
  react-demo/src/YXUIKit/im-kit-ui/src/chat/containers/p2pChatContainer.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/chat/containers/teamChatContainer.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/index.tsx
  react-demo/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/style/index.less
  react-demo/src/YXUIKit/im-kit-ui/src/common/components/CommonParseSession/videoModal.tsx
  react-demo/src/pages/index.tsx
  vue2-demo/package.json
  vue3-demo/package.json
  vue3-demo/src/App.vue
Due: prettier --write ., eslint --fix, git add .

update store version
  vue3-demo/package.json
Due: none

web uikit vue3 v10.1.0
  vue3-demo/src/components/NEUIKit/Login/utils/api.ts
  vue3-demo/src/components/NEUIKit/utils/init.ts
Due: prettier --write ., eslint --fix, git add .

fix: SO 跑通问题修复
  miniapp-demo/miniprogram/NEUIKit/Chat/index/index.less
  miniapp-demo/miniprogram/NEUIKit/Chat/index/index.ts
  miniapp-demo/miniprogram/NEUIKit/Chat/message/face/index.less
  miniapp-demo/miniprogram/NEUIKit/Chat/message/face/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-bubble/index.less
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-bubble/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-forward-modal/index.less
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-forward-modal/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-input/index.ts
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-input/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-item/index.less
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-item/index.ts
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-item/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-list/index.less
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-list/index.ts
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-list/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-text/index.less
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-text/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Chat/team-setting/index.less
  miniapp-demo/miniprogram/NEUIKit/Chat/team-setting/index.ts
  miniapp-demo/miniprogram/NEUIKit/Contact/valid-list/valid-list.less
  miniapp-demo/miniprogram/NEUIKit/Contact/valid-list/valid-list.ts
  miniapp-demo/miniprogram/NEUIKit/Contact/valid-list/valid-list.wxml
  miniapp-demo/miniprogram/pages/team-avatar-edit/index.ts
  miniapp-demo/miniprogram/pages/team-info-edit/index.ts
  miniapp-demo/miniprogram/pages/team/add-member/index.ts
  miniapp-demo/miniprogram/pages/team/add-member/index.wxml
  miniapp-demo/miniprogram/pages/team/create-team/index.ts
  miniapp-demo/miniprogram/pages/team/member-list/index.ts
Due: prettier --write ., eslint --fix, git add .

fix: SO 跑通问题修复
  miniapp-demo/miniprogram/NEUIKit/Chat/index/index.ts
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-input/index.ts
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-input/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-list/index.ts
  miniapp-demo/miniprogram/NEUIKit/Chat/message/message-list/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Chat/p2p-setting/index.ts
  miniapp-demo/miniprogram/NEUIKit/Chat/p2p-setting/index.wxml
  miniapp-demo/miniprogram/NEUIKit/Conversation/conversation-item/conversation-item.ts
  miniapp-demo/miniprogram/pages/chat/p2p-setting/index.ts
Due: prettier --write ., eslint --fix, git add .

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  git add .: (any of: *.{js,jsx,ts,tsx}) or (any of: *.md)
  prettier --write: any of: *.md
  npm run noIssue: any of: *.md
